.header
  .header__search
    %form.header__search--box
      %input.header__search--box--text{"placeholder": "", "type": "text"}
      %input.header__search--box--btn{"name": "commit", "type": "submit", "value": "search"}
  .header__icon
  .header__box

.wrapper
  .main
    .main__task
      .main__task--box
        .main__task--box--input
          ○○さんに○○の件でメールを送る。
      .main__task--box
        .main__task--box--input
          ○○さんに○○の件でメールを送る。
      .main__task--box
        .main__task--box--input
          ○○さんに○○の件でメールを送る。
    .main__form
      %form.main__form--box
        %input.main__form--box--text{"placeholder": "Why,Who,What,Where,When,How", "type": "text"}
        %input.main__form--box--btn{"name": "commit", "type": "submit", "value": "POST"}
  .side
    .side__box
      .side__box--calendar
      .side__box--calendar
