* {
  box-sizing: border-box;
}

.header{
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #1E90FF;
  &__search {
    &--box {
      display: flex;
      &--text {
        height: 50px;
        width: 300px;
        margin-right: 10px;
        border: none;
        border-radius: 10px;
        background-color: #66CCFF;
      }
      &--btn {
        height: 50px;
        width: 100px;
        color: white;
        border: none;
        border-radius: 10px;
        background-color: #0066FF;
      }
    }
  }
  &__icon {
    height: 50px;
    width: 50px;
    background-color: white;
  }
  &__box {
    height: 50px;
    width: 100px;
    background-color: white;
  }
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  .main {
    width: 1100px;
    background-color: #66CCFF;
    &__task {
      height: calc(100vh - 150px);
      padding: 20px 20px;
      &--box {
        height: 100px;
        width: 1050px;
        background-color: white;
        &--nameBox {
          height: 40px;
          display: flex;
          justify-content: space-between;
          &--acount {
            height: 30px;
            width: 100px;
            font-size: 20px;
            padding-left: 10px;
          }
          &--date {
            height: 30px;
            width: 150px;
            font-size: 15px;
            padding-right: 10px;
          }
        }
        &--input {
          height: 80px;
          &--output {
            padding: 10px 10px;
            font-size: 20px;
          }
        }
      }
    }
    &__form {
      height: 150px;
      background-color: #0065CB;
      padding: 30px 30px;
    }
  }
  .side {
    width: calc(100vw - 1100px);
    background-color: #87cefa;
    &__box {
      padding: 30px 30px;
      &--calendar {
        height: 350px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        background-color: white;
      }
    }
  }
}